@import "nullstyle.scss";

body {
    line-height: 1;
    font-family: Manrope;
    color: #333333;
}

/*===================================================*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*===================================================*/
.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
}

.title_center {
    text-align: center;
}

@media (max-width: 767.98px) {
    .title {
        font-size: 30px;
    }
}

/*===================================================*/
.page {
    flex: 1 1 auto;
}

/*===================================================*/
[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0 15px;
    }
}

/*===================================================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
    z-index: 50;
}

.header__container {
    min-height: 103px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767.98px) {
    .header__container {
        flex-direction: column;
        min-height: 0;
    }
}

.header__logo {
    font-weight: 800;
    font-size: 23px;
    color: inherit;
}

/*===================================================*/
.menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 5px;
}

.menu__link {
    font-size: 13px;
    font-weight: 700;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 767.98px) {
    .menu__link {
        font-size: 18px;
    }
}

/*===================================================*/
.main-block {
    padding-bottom: 110px;
}

.main-block__container {
    position: relative;
    padding-top: 183px;

    &:after {
        background: #BDCCFF;
        content: "";
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0;
        left: 68%;
    }
}

.main-block__body {
    margin-bottom: 14px;
}

.body-main-block {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.body-main-block__content {
    flex: 0 1 50%;
}

.content-main-block {
    padding-top: 40px;
    position: relative;
    z-index: 2;
}

.content-main-block__body {
    padding-right: 68px;
}

.content-main-block__sub-title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29px;
    font-size: 22px;
    color: #FF9900;
    margin-bottom: 20px;
}

.content-main-block__title {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
    color: #000000;
    margin-bottom: 20px;
}

.content-main-block__text {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #31353B;
    margin-bottom: 48px;
}

.form-main-block {
    position: relative;
    z-index: 2;
    display: flex;
    margin-right: -188px;
    background: #fff url('../img/main/home.svg') 33px 32px no-repeat;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form-main-block__input {
    height: 86px;
    padding: 0 0 0 74px;
    background-color: transparent;
    width: 100%;
    flex: 1 1 auto;
    border: 1px solid #DADADA;

    &:focus-visible {
        outline: 1px solid #FF9900;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.01em;
        color: #31353B;
        opacity: 0.3;
    }
}

@media (max-width: 767.98px) {
    .form-main-block__input {
        padding: 0 0 0 30px;
    }
}


.form-main-block__button {
    height: 86px;
    cursor: pointer;
    background-color: #F85A47;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #fff;
    padding: 0 15px;
    width: 188px;
    flex: 0 0 188px;

    &:hover {
        background: #c64838;
    }
}

.body-main-block__slider {
    flex: 0 1 50%;
    min-width: 0;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222));
}

.slider-main-block__slide {
    position: relative;
    padding-bottom: 95%;
}

.slider-main-block__slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-main-block__arrows {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    gap: 40px;
    align-items: center;
}

.body-main-block__arrow.swiper-button-prev,
.body-main-block__arrow.swiper-button-next {
    position: static;
    height: 20px;
    width: 12px;
    background: url('../img/icons/arrow.svg') 0 0 no-repeat;
}

.body-main-block__arrow::after {
    display: none;
}

.body-main-block__arrow.swiper-button-prev {
    transform: rotate(-180deg);
}

.partners-main-block {
    max-width: 65%;
}

.partners-main-block__label {
    font-size: 17px;
    margin-bottom: 23px;
}

.partners-main-block__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.partners-main-block__item img {
    max-width: 100%;
}

@media (max-width: 1199.98px) {
    .main-block__container {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .content-main-block__body {
        padding-right: 0;
    }

    .body-main-block {
        display: block;
    }

    .form-main-block {
        margin-right: 0;
    }

    .body-main-block__content {
        margin-bottom: 40px;
    }

    .main-block__body {
        margin-bottom: 40px;
    }

    .partners-main-block {
        position: relative;
        z-index: 2;
        max-width: none;
    }

    .content-main-block__title {
        font-size: 30px;
        line-height: 120%;
    }

    .form-main-block {
        display: block;
    }

    .form-main-block__button {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .main-block {
        padding-bottom: 70px;
    }
}


@media (max-width: 767.98px) {
    .partners-main-block__items {
        justify-content: center;
    }
}
/*===================================================*/
.how {
    padding-top: 110px;
    padding-bottom: 110px;
}

@media (max-width: 991.98px) {
    .how {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 767.98px) {
    .how {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.how__title {
    margin-bottom: 70px;
}

.how__items {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, minmax(auto, 260px));
    column-gap: 30px;
    row-gap: 45px;
    justify-content: space-between;
}

@media (min-width: 991px) {
    .how__items {
        padding: 0 35px;
    }
}

.item-how {
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;
}

.item-how_1::after {
    content: "";
    position: absolute;
    right: 0;
    top: 41px;
    transform: translate(86%, 0);
    height: 11px;
    width: 210px;
    background: url('../img/how/border_1.svg') 0 0 / 100% no-repeat;
}

.item-how_2::after {
    content: "";
    position: absolute;
    right: 0;
    top: 41px;
    transform: translate(86%, 0) rotate(-180deg);
    height: 11px;
    width: 210px;
    background: url('../img/how/border_1.svg') 0 0 / 100% no-repeat;
}

.item-how_1 {
    & .item-how__icon {
        background: #9672FF;
        box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
    }
}

.item-how_2 {
    & .item-how__icon {
        background: #4DDFFD;
        box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
    }
}

.item-how_3 {
    & .item-how__icon {
        background: #F2B8EC;
        box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
    }
}

.item-how__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.item-how__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
}

.item-how__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}

@media (max-width: 1199.98px) {
    .item-how_1::after {
        width: 170px;
        transform: translate(69%, 0);
    }

    .item-how_2::after {
        width: 170px;
        transform: translate(69%, 0) rotate(-180deg);
    }
}

@media (max-width: 991.98px) {
    .item-how_1::after {
        width: 140px;
        transform: translate(60%, 0);
    }

    .item-how_2::after {
        width: 140px;
        transform: translate(60%, 0) rotate(-180deg);
    }
}

@media (max-width: 767.98px) {
    .how__items {
        grid-template-columns: 1fr;
    }

    .item-how_1::after {
        display: none;
    }

    .item-how_2::after {
        display: none;
    }

    .item-how__icon {
        margin-bottom: 20px;
    }

    .how__title {
        margin-bottom: 30px;
    }
}

/*===================================================*/
.deals {
    padding-top: 110px;
    padding-bottom: 110px;
}

.deals__header {
    margin-bottom: 50px;
}


@media (max-width: 991.98px) {
    .deals {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 767.98px) {
    .deals {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.header-deals {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header-deals__content {
    flex: 1 1 auto;
}

.header-deals__title {
    margin-bottom: 15px;
}

.header-deals__text {
    max-width: 470px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.header-deals__link {
    display: inline-flex;
    height: 65px;
    width: 200px;
    background: #F85A47;
    color: #fff;
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    padding: 22px 33px;
    text-align: center;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
}

@media (max-width: 767.98px) {
    .header-deals__link {
        width: 100%;
    }
}

.header-deals__link:hover {
    background: #c64838;
}

.tabs-deals__nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;
    margin-bottom: 45px;
}

.tabs-deals__button {
    background: transparent;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    cursor: pointer;
    transition: color 0.3s ease 0s;
    position: relative;
    margin-bottom: 35px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: width 0.3s ease 0s;
        background: #F85A47;

    }

    &:hover {
        color: #F85A47;
    }

    &.active {
        color: #F85A47;
    }

    &:hover::after {
        width: 100%;
    }
}

.tabs-deals__button .tabs-deals__button .tabs-deals__button.active::after {
    width: 100%;
}

.tabs-deals__item {
    display: none;

    &.active {
        display: block;
    }
}

.item-tabs__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.item-tabs__item {
    position: relative;
    margin-bottom: 20px;
}

.item-tabs__options {
    position: absolute;
    left: 14px;
    top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 2;
}

.item-tabs__option a {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 6px 12px;
    color: #FFFFFF;
    transition: background-color 0.3s ease 0s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.item-tabs__image {
    position: relative;
    display: block;
    padding-bottom: 81%;
    border-radius: 5px;
    overflow: hidden;
}

.item-tabs__image:hover img {
    transform: scale(1.1);
}

.item-tabs__image img {
    transition: transform 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*===================================================*/
.featured {
    padding-top: 110px;
    padding-bottom: 110px;
}

@media (max-width: 991.98px) {
    .featured {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 767.98px) {
    .featured {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.featured__title {
    margin-bottom: 95px;
}

.featured__body {
    background: #F1FFFF;
    display: grid;
    column-gap: 77px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 40px 80px 40px;
}

@media (max-width: 991.98px) {
    .featured__body {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .featured__title {
        margin-bottom: 50px;
    }

}

@media (max-width: 767.98px) {
    .featured__body {
        margin: 0 -15px;
        padding: 20px 15px 20px 20px;
    }

    .featured__title {
        margin-bottom: 30px;
    }
}

.images-featured {
    display: grid;
    justify-items: center;

    & img {
        max-width: 100%;
    }
}

.images-featured__item_mini {
    filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -114px;
}

.content-featured {
    max-width: 378px;
}

@media (max-width: 991.98px) {
    .content-featured {
        max-width: 492px;
    }
}

.content-featured__title {
    font-weight: 600;
    font-size: 31px;
    line-height: 1.3;
    margin-bottom: 25px;
}

@media (max-width: 767.98px) {
    .content-featured__title {
        font-size: 24px;
    }
}

.content-featured__text {
    line-height: 1.5;
    color: #545A58;
    margin-bottom: 40px;
}

.content-featured__options {
    display: grid;
    gap: 37px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 55px;
}

.options-content-featured__label {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.options-content-featured__value {
    font-size: 17px;
    color: #545A58;
}

.content-featured__link {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 16px 37px;
    width: 100%;
    background: #F85A47;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
}

.content-featured__link:hover {
    background: #c64838;
}

@media (max-width: 470.98px) {
    .content-featured__options {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 35px;
    }
}

/*===================================================*/
.simple-rating {
    position: relative;
    font-size: 24px;
    display: inline-block;

    &::before {
        content: "★★★★★";
        display: block;
    }
}

.simple-rating__items {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #f0dbbb;

    &::before {
        content: "★";
        display: block;
        transition: color 0.3s ease 0s;
    }
}

.simple-rating__label .simple-rating__item:checked,
.simple-rating__item:checked~.simple-rating__label {
    color: #FBB040;
}

.simple-rating__label:hover,
.simple-rating__label:hover~.simple-rating__label,
.simple-rating__label:checked~.simple-rating__label:hover {
    color: #ffef9f;
}

/*===================================================*/
.reviews {
    padding-top: 110px;
    padding-bottom: 110px;
}

@media (max-width: 991.98px) {
    .reviews {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 767.98px) {
    .reviews {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.reviews_title {
    margin-bottom: 50px;
    max-width: 570px;
}

.reviews__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.item-reviews {
    color: inherit;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 50px 40px;

    &:hover {
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
        border: 1px solid transparent;
    }
}

.item-reviews__rating {
    margin-bottom: 33px;
}

.item-reviews__text {
    line-height: 1.5;
    margin-bottom: 40px;
}

.author-item-reviews {
    display: flex;
    align-items: center;
}

.author-item-reviews__avatar {
    flex: 0 0 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.author-item-reviews__name {
    font-weight: 700;
    line-height: 1.3;
    color: #333333;
}

.author-item-reviews__location {
    font-size: 14px;
    line-height: 1.3;
    color: #666666;
}

.reviews__footer {
    padding-top: 85px;
}

.footer-reviews {
    display: flex;
    column-gap: 100px;
}

@media (max-width: 991.98px) {
    .footer-reviews {
        flex-wrap: wrap;
        row-gap: 30px;
    }
}

@media (max-width: 767.98px) {
    .reviews {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer-reviews__partners {
    flex: 1 1 auto;
}

.partners-footer-reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer-reviews__info {
    flex: 0 0 300px;
    line-height: 1.5;
}

.footer-reviews__info a {
    color: #2CBDE7;
    text-decoration: underline;
}

.footer-reviews__info a:hover {
    text-decoration: none;
}

/*===================================================*/
.subscribe {
    padding-top: 110px;
    padding-bottom: 110px;
}

@media (max-width: 991.98px) {
    .subscribe {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (max-width: 767.98px) {
    .subscribe {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.subscribe__header {
    text-align: center;
    margin-bottom: 33px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.44;
    letter-spacing: 0.02em;
    color: #31353B;
    margin-bottom: 11px;
}

.subscribe__sub-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.44;
    letter-spacing: 0.02em;
    color: #31353B;
}

@media (max-width: 991.98px) {
    .subscribe__title {
        font-size: 35px;
    }

    .subscribe__sub-title {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .subscribe__title {
        font-size: 24px;
    }

    .subscribe__sub-title {
        font-size: 18px;
    }
}

.subscribe__form {
    max-width: 686px;
    margin: 0 auto;
}

.form-subscribe {
    display: flex;
    padding: 25px 45px;
    gap: 15px;
    background: #FFFFFF;
    box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}

.form-subscribe__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.form-subscribe__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.44;
    letter-spacing: 0.02em;
    color: #31353B;
    opacity: 0.2;
}

.form-subscribe__input {
    font-weight: 700;
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 1.44;
    letter-spacing: 0.02em;
    color: #31353B;
    width: 100%;
    padding: 0 10px;
    &:focus-visible {
        outline: 1px solid #FF9900;
    }
}

.form-subscribe__button {
    height: 72px;
    padding: 10px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    background-color: #F85A47;
    transition: background-color 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    &:hover {
        background-color: #c64838;
    }
}

@media (max-width: 767.98px) {
    .form-subscribe {
        margin: 0px -15px;
        padding: 15px;
        flex-direction: column;
    }
}

/*===================================================*/
.footer__container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    border-top: 1px solid #DEDFE1;
    column-gap: 20px;
    row-gap: 70px;
}

@media (max-width: 767.98px) {
    .footer__container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.footer__logo {
    font-weight: 800;
    font-size: 23px;
    line-height: 1.34;
    color: #31353B;
}

.footer__menu {
    display: flex;
    justify-content: flex-end;
}

.menu-footer__list {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 15px;
}

.menu-footer__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.44;
    color: #31353B;
    &:hover {
        color: #31353B;
        text-decoration: underline;
    }
}

.footer__copy {
    grid-column: span 2;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color: #31353B;
}

/*===================================================*/
.social {
	position: fixed;
	top: 50%;
	display: flex;
	flex-direction: column;
	justify-content:center;
    align-items: center;
	gap: 25px;
	right: 20px;
	transform: translate(0px,-50%);
}

@media (max-width: 991.98px){
	.social {
		display: none;
	}
}
/*===================================================*/
